extends indexlayout

block header
  p !{userBar}
  div(class="main_door")
      h1 
        a(class="logo" href="/") USTS
    div(class="main_menu")
      ul(class="room_controler")
          li
            a(href=`/room/room_create`) make room
          li
            a(href=`/room/room_search`) search room

block content
  div(class="content")
    h3 Welcome to USTS

block footer